@import '../../styles/globals.scss';

.sub-info__wrapper {
    height: 1024px;
    background-color: rgba($color: #D6D6D6, $alpha: 0.2);
    border-radius: 0px 20px 20px 0px;
    padding: 40px !important; 

    .sub-info__divider {
        height: 3px;
        width: 100%;
        background: rgba($color: $--text-color, $alpha: .25);
        margin: 100px 0 55px;
    }
}