@import "~bootstrap/scss/bootstrap";
@import "./custom.scss";

.App {
  margin: 6rem auto;
  width: 1044px;
  height: 1024px;
  background: linear-gradient(45deg, rgba(#FF006C, .38), #9065BC);
  border-radius: 20px;
}

