@import '../../../styles/globals.scss';

.sun-schedule {
    margin-top: 100px;
    &__header {
        justify-content: center;
        font-size: 32px;
        color: $--text-color;
        font-family: 'Roboto', sans-serif;;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba($color: #fff, $alpha: .25);
        border-radius: 50px;
        padding: 15px;
        margin-top: 20px;

        .sun-schedule__icon {
            width: 90px;
        }
    }
    
}