@import '../../../../styles/globals.scss';

.clock {
    color: $--text-color;
    display: flex;
    flex-direction: column;
    align-items: center;


    .digital-clock__wrapper {
        font-size: 40px;
        text-align: center;
    }
}